.field_title {
  color: black;
}

.field_title:hover {
  color: grey;
}

.field_title.active {
  color: red;
}

.modified {
  border-radius: 5px;
  border:#FF0000 1px solid;
}

.entry {
  cursor: pointer;
}