{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-3">
    <form>
      <h4>Поиск</h4>
      {% include "search_widget.html" %}
      <h4>Аналитика</h4>
      <div class="form-group">
        <label>X:</label>
        <select name='x_field' class="form-control form-control-sm">
          {% for field in analytics_fields %}
            <option {% if field.qualified_col_name == x_field_name %} selected {% endif %} value="{{ field.qualified_col_name }}">{{ field.title }}</option>
          {% endfor %}
        </select>
      </div>


      <div class="form-group">
        <label>Y:</label>
        <select name='y_field' class="form-control form-control-sm">
        {% for field in analytics_fields %}
          <option {% if field.qualified_col_name == y_field_name %} selected {% endif %} value="{{ field.qualified_col_name }}">{{ field.title }}</option>
        {% endfor %}
        </select>
      </div>
      <input type="submit" value="Применить" class="form-control form-control-sm btn btn-sm btn-primary">
    </form>

    <nav class="nav navbar-collapse flex-column nav-pills" role="tablist" aria-orientation="vertical">
      {% for table_uri, table in tables.items() %}
         <a class="nav-link {% if selected_table is defined and selected_table == table_uri %} active {% endif %}" href="{{ url_for('analytics', table=table_uri) }}">
           {{ table.title }}
         </a>
      {% endfor %}
    </nav>
  </div>

  <div class="col col-md-9">
    {% if x_field is defined and y_field is defined and x_field and y_field %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th align="right">{{x_field.title}}</th>
            {% for x in all_x %}
              <th rowspan="2">
                {{x}}
              </th>
            {% endfor %}
          </tr>
          <tr>
            <th align="left">{{y_field.title}}</th>
          </tr>
        </thead>
        {% for y in all_y %}
          <tr>
            <th>{{y}}</th>
            {% for x in all_x %}
              <td>
                {% if analytics_table[y][x] %}
                  <table>
                    <thead>
                      {% for in_field in fields %}
                        <th>
                          {{ in_field.title }}
                        </th>
                      {% endfor %}
                    </thead>
                    {% for el in analytics_table[y][x] %}
                      <tr>
                        {% for in_field in fields %}
                          <td>
                            {{ el[in_field.qualified_col_name] }}
                          </td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
                  </table>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
        <tr>
        </tr>
      </table>
    {% endif %}
  </div>
</div>

{% endblock %}

