{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-3">
    {% include "menu.html" %}
  </div>

  <div class="col col-md-9">
    {% if selected_table is defined %}
      <a class="record-action-link btn btn-primary btn-sm" href="{{ url_for('create', table=selected_table)}}" target="_blank">
        Создать
      </a>
      <table class="table table-hover table-bordered table table-responsive-sm text-center">
        <thead>
          {% for field in fields %}
            <th>
              {% set link = modify_query(query_params, sort_field=field.qualified_col_name, sort_order='ASC') %}
              {% if query_params['sort_field'] is defined and query_params['sort_field'] == field.qualified_col_name %}
                {% set sort_curr_field = true %}
              {% else %}
                {% set sort_curr_field = false %}
              {% endif %}

              {% if sort_curr_field %}
                {% if query_params['sort_order'] is defined and query_params['sort_order'] == 'DESC' %}
                  {% set link = modify_query(query_params, sort_order='ASC') %}
                {% else %}
                  {% set link = modify_query(query_params, sort_order='DESC') %}
                {% endif %}
              {% endif %}

              <a href="{{ link }}" class="field_title {% if query_params['sort_field'] is defined and  query_params['sort_field'] == field.qualified_col_name %} active {% endif %}">
                {{ field.title }}
              </a>
              {% if sort_curr_field %}
                {% if query_params['sort_order'] is defined and query_params['sort_order'] == 'DESC' %}
                  <i class="fa fa-sort-desc" aria-hidden="true"></i>
                {% else %}
                  <i class="fa fa-sort-asc" aria-hidden="true"></i>
                {% endif %}
              {% endif %}
            </th>
          {% endfor %}
        </thead>

        {% for entry in entries %}
            <tr data-href="{{ url_for('edit', table=selected_table, pk=entry[pk.qualified_col_name]) }}" data-pk="{{ entry[pk.qualified_col_name] }}" class="entry">
            {% for field in fields %}
              <td data-col-name="{{field.qualified_col_name}}">
                {{ entry[field.qualified_col_name] }}
              </td>
            {% endfor %}
            </tr>
        {% endfor %}
      </table>

      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="{{modify_query(query_params, page=[1, query_params['page']-1]|max_val)}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

            {% for i in range(pages) %}
              <li class="page-item {% if query_params['page'] is defined and query_params['page'] == loop.index  %} active {% endif %}">
                <a class="page-link" href="{{modify_query(query_params, page=loop.index)}}">
                  {{ loop.index }}
                </a>
              </li>
            {% endfor %}

            <a class="page-link" href="{{modify_query(query_params, page=[pages, query_params['page']+1]|min_val)}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include "js/list_update.js" %}
{% endblock %}