{% extends "layout.html" %}

{% block body %}
  <h2>{{conflict_title}}</h2>
  <div class="card-deck">
  {% for item in conflicting_items %}
    <div class="card border-primary ml-1 mr-1 mb-2" style="min-width: 15rem;">
      <div class="card-header py-0 text-center" >
        <a class="btn btn-success btn-sm" href="{{ url_for('edit', table=sched_table_name, pk=item[pk_col_name]) }}">Редактировать</a>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush" >
          {% for field in item_fields %}
            <li class="list-group-item {% if field.resolved_name in conflicting_fields %} bg-warning{% endif %}">
              <div class="title">
                <b>{{field.title}}:</b>
              </div>
              {{ item[field.resolved_name] }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  {% endfor %}
  </div>
{% endblock %}