{% extends "layout.html" %}

{% block body %}

  <ul class="nav nav-tabs">
    {% for conflict in conflict_types %}
      <li class="nav-item">
        <a class="nav-link {% if selected_conflict is defined and selected_conflict.alias == conflict.alias %} active {% endif %}"
           href="{{ url_for('conflicts_list', conflict_type=conflict.alias) }}">{{ conflict.title }}</a>
      </li>
    {% endfor %}
    <li class="nav-item">
        <form method="post" class="nav-link">
          <button type="submit" name="action" value="recalc" class="btn btn-sm btn-danger">Пересчитать</button>
        </form>
    </li>
  </ul>

  <div class="card-group">
  {% for entry in conflicts_entries %}
    <a href="{{ url_for('conflict_view', pk=entry[sched_conflicts_model.pk.qualified_col_name])}}">
      <div class="card border-primary mr-2">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            {% for cfield in conflicting_fields %}
                <li class="list-group-item">
                  <div class="title">
                    <b>{{ cfield.title }}:</b>
                  </div>
                  {{ conflicting_values[entry[sched_conflicts_model.sched_item.qualified_col_name]][cfield.resolved_name] }}
                </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </a>
  {% endfor %}
  </div>

  {% for entry in conflicts_entries %}
    {{entry}}
    <br>
  {% endfor %}

{% endblock %}