{% extends "record_action.html" %}

{% block body %}
  {{ super() }}
  {{ status }}
  <div class="col col-md-4">
    <form method="post">
      <div class="form-group">
        {% for field in fields %}
          {{ form_field(field, values[loop.index0], name=loop.index0) }}
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-sm btn-danger" value="close">Удалить</button>
      <button type="button" class="btn btn-sm btn-success" onclick="window.close()">Отмена</button>
    </form>
  </div>
{% endblock %}
