{% extends "record_action.html" %}

{% block body %}
  <div id='delete-alert' class="alert alert-danger" role="alert" style="display: none">
    Элемент был удален
  </div>

  <div id='modify-alert' class="alert alert-warning" role="alert" {% if already_modified %} {% else %} style="display: none" {% endif %}>
    Элемент был изменён
  </div>
  {{ super() }}

  {% if deleted is defined and deleted %}
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Запись {{record_name}} успешно удалена</h4>
    </div>
  {% else %}

    <div class="col col-md-4">
      <form method="post" class="edit_form">
        <div class="form-group">
          {% if values is defined %}
            {% for field in fields %}
              <div class="form-group">
                {% if already_modified is defined and already_modified %}
                  {{ field.get_html(values[loop.index0], modified_value=modified_values[loop.index0])}}
                {% else %}
                  {{ field.get_html(values[loop.index0]) }}
                {% endif %}
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <!--<div class="btn-group">-->
          <button type="submit" name="action" value="edit" class="btn btn-sm btn-success">Сохранить и продолжить редактирование</button>
          <button type="submit" name="action" value="close" class="btn btn-sm btn-primary">Сохранить и закрыть</button>
        <!--</div>-->
        <div class="btn-group">
          <button type="submit" name="action" value="delete" class="btn btn-sm btn-danger">Удалить</button>
          <button type="button" class="btn btn-sm btn-danger" onclick="window.close()">Закрыть</button>
        </div>
        <input id="last-update" type="hidden" name="last_update" value="{{last_update}}">
      </form>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include "js/edit.js" %}
{% endblock %}