{% extends "record_action.html" %}

{% block body %}
  {{ super() }}
  <div class="col col-md-4">
    <form method="post">
      <div class="form-group">
        {% if values is defined %}
          {% for field in fields %}
            {{ field.get_html(values[loop.index0]) }}
          {% endfor %}
        {% endif %}
      </div>
      <button type="submit" name="action" value="edit" class="btn btn-sm btn-success">Сохранить и продолжить</button>
      <button type="submit" name="action" value="close" class="btn btn-sm btn-danger">Сохранить и закрыть</button>
    </form>
  </div>
{% endblock %}