{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-3">
    {% include "menu.html" %}
  </div>

  <div class="col col-md-9">
    {% if selected_table is defined %}
      <table class="table table-hover table-bordered table table-responsive-sm text-center">
        <thead>
          {% for title in fields_titles %}
            <th>
              {{ title }}
            </th>
          {% endfor %}
        </thead>

        {% for entry in entries %}
          <tr>
          {% for field in entry %}
            <td>
              {{ field }}
            </td>
          {% endfor%}
        </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
</div>
{% endblock %}
