

<!--Поиск-->
<form>
  {% include "search_widget.html" %}

  <nav class="nav navbar-collapse flex-column nav-pills" role="tablist" aria-orientation="vertical">
  {% for table_uri, table in tables.items() %}
    <a class="nav-link {% if selected_table is defined and selected_table == table_uri %} active {% endif %}" href="{{ url_for('catalog', table=table_uri, page_size=request.args.get('page_size', 0)) }}">
      {{ table.title }}
    </a>
  {% endfor %}
  </nav>

  <div class="form-group">
    <label for="pagination_choice">Показать на странице</label>
    <select id="pagination_choice" name='page_size' class="form-control form-control-sm">
      {% for choice in pagination_choices %}
        <option {% if query_params['page_size'] is defined and choice|int == query_params['page_size']|int %} selected {% endif %} value="{{ choice }}">
          {{ choice }}
        </option>
      {% endfor %}
    </select>
    <input type="submit" value="Показать" class="form-control form-control-sm btn btn-sm btn-primary">
    </div>
  <input type="hidden" name="sort_field" value="{{ query_params['sort_field'] }}">
  <input type="hidden" name="sort_order" value="{{ query_params['sort_order'] }}">
</form>