{% macro insert_search_field(search_field=0, search_vals='', logic_operator=0, compare_operator=0) %}
    <div class="search_field_parameters">
      <div class="form-group">
        <label>Поле</label>
        <select name='search_field' class="form-control">
          {% for option in fields_titles %}
            <option {% if loop.index0 == search_field|int %} selected {% endif %} value="{{ loop.index0 }}">{{ option }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label>Значение</label>
        <div class="form-row">
          <div class="col">
            <select name="logic_operator" class="form-control pl-0">
              {% for operator in logic_search_operators_list %}
                <option {% if loop.index0 == logic_operator|int %} selected {% endif %} value="{{ loop.index0 }}">{{operator}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col">
            <select name="compare_operator" class="form-control pl-0">
              {% for operator in compare_search_operators_list %}
                <option {% if loop.index0 == compare_operator|int %} selected {% endif %}  value="{{ loop.index0 }}">{{operator}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-5">
            <input name="search_val" type="search" class="form-control pl-0 pr-0" value="{{ search_vals }}">
          </div>
        </div>
      </div>
      <button type="button" class="add_search_field btn btn-success btn-sm"><span class="fa fa-plus"></span></button>
      <button type="button" class="remove_search_field btn btn-danger btn-sm"><span class="fa fa-minus"></span></button>
    </div>
{% endmacro %}

<!--Поиск-->
<form>
  <div id="search_fields_container">
    {% if not search_fields %}
      {{insert_search_field()}}
    {% else %}
      {% for search_field in search_fields %}
        {{insert_search_field(search_field, search_vals[loop.index0], logic_operators[loop.index0], compare_operators[loop.index0]) }}
      {% endfor %}
    {% endif %}
  </div>
  <input type="submit" value="Искать" class="form-control btn btn-primary">


<nav class="nav navbar-collapse flex-column nav-pills" role="tablist" aria-orientation="vertical">
  {% for option in tables_titles %}
    <a class="nav-link {% if selected_table is defined and loop.index0 == selected_table|int %} active {% endif %}" href="{{ url_for('index', selected_table=loop.index0, pagination_choice=request.args.get('pagination_choice', 0)) }}">{{ option }}</a>
  {% endfor %}
</nav>

  <div class="form-group">
    <label for="pagination_choice">Показать на странице</label>
    <select id="pagination_choice" name='pagination_choice' class="form-control">
      {% for option in pagination_choices %}
        <option {% if pagination_choice is defined and loop.index0 == pagination_choice %} selected {% endif %}#} value="{{ loop.index0 }}">{{ option }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Показать" class="form-control btn btn-primary">
    </div>
</form>