{% macro insert_search_field(search_field=0, search_val='', logic_operator=0, compare_operator=0) %}
    <div class="search_field_parameters">
      <div class="form-group">
        <label>Поле</label>
        <select name='search_field' class="form-control form-control-sm">
          {% for option in fields_titles %}
            <option {% if loop.index0 == search_field|int %} selected {% endif %} value="{{ loop.index0 }}">{{ option }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label>Значение</label>
        <div class="form-row">
          <div class="col">
            <select name="logic_operator" class="form-control form-control-sm pl-0">
              {% for operator in logic_search_operators_list %}
                <option {% if loop.index0 == logic_operator|int %} selected {% endif %} value="{{ loop.index0 }}">{{operator}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col">
            <select name="compare_operator" class="form-control form-control-sm pl-0">
              {% for operator in compare_search_operators_list %}
                <option {% if loop.index0 == compare_operator|int %} selected {% endif %}  value="{{ loop.index0 }}">{{operator}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-5">
            <input name="search_val" type="search" class="form-control form-control-sm pl-0 pr-0" value="{{ search_val }}">
          </div>
        </div>

      </div>
      <div class="form-group">
        <button type="button" class="add_search_field btn btn-success btn-sm"><span class="fa fa-plus"></span></button>
        <button type="button" class="remove_search_field btn btn-danger btn-sm"><span class="fa fa-minus"></span></button>
      </div>
    </div>
{% endmacro %}

<!--Поиск-->
<form>
  <div id="search_fields_container">
    {% if not query_params['search_field'] %}
      {{insert_search_field()}}
    {% else %}
      {% for search_field in query_params['search_field'] %}
        {{insert_search_field(search_field, query_params['search_val'][loop.index0], query_params['logic_operator'][loop.index0], query_params['compare_operator'][loop.index0]) }}
      {% endfor %}
    {% endif %}
  </div>
  <input type="submit" value="Искать" class="form-control form-control-sm btn btn-sm btn-primary">


<nav class="nav navbar-collapse flex-column nav-pills" role="tablist" aria-orientation="vertical">
  {% for table_uri, table in tables.items() %}
    <a class="nav-link {% if selected_table is defined and selected_table ==  table_uri %} active {% endif %}" href="{{ url_for('catalog', table=table_uri, page_size=request.args.get('page_size', 0)) }}">
      {{ table.title }}
    </a>
  {% endfor %}
</nav>

  <div class="form-group">
    <label for="pagination_choice">Показать на странице</label>
    <select id="pagination_choice" name='page_size' class="form-control form-control-sm">
      {% for choice in pagination_choices %}
        <option {% if query_params['page_size'] is defined and choice|int == query_params['page_size']|int %} selected {% endif %} value="{{ choice }}">
          {{ choice }}
        </option>
      {% endfor %}
    </select>
    <input type="submit" value="Показать" class="form-control form-control-sm btn btn-sm btn-primary">
    </div>
  <input type="hidden" name="sort" value="{{ query_params['sort_field'] }}">
  <input type="hidden" name="sort_order" value="{{ query_params['sort_order'] }}">
</form>